

body {
  font-family: Georgia;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: #798c79;
  height: 35px;
}

nav p {
  font-weight: bolder;
  padding: 0px;
  margin: 0px;
}

h1 {
  text-align: center;
  padding: 20px;
}

h2 {
  text-align: center;
  padding: 20px;
}

.comp-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.html,
.css,
.js {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.html img,
.css img {
  height: 100px;
  width: 100px;
}

.js img {
  height: 105px;
  width: 75px;
}

.comp-container p {
  text-align: center;
}

#pro {
  margin: 20px 0px 0px 0px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container h4 {
  margin: 0px;
  padding: 5px;
  border: 1.5px solid black;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 30px;
  margin: 20px;
}

.grid div {
  height: 250px;
  width: 250px;
}

.hcp {
  background-color: rgb(189, 102, 102);
}

.jsp {
  background-color: rgb(109, 109, 224);
}

footer {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: grey;
}

footer p {
  margin: 5px;
}

#hc-button,
#js-button,
#show-all-button {
  cursor: pointer;
}

#hc-button,
#js-button {
  transition: 0.2s ease-in-out;
}

#hc-button:hover,
#js-button:hover {
  background-color: #798c79;
  color: white;
}

.hide {
  display: none;
}

#show-all-button {
  background-color: #798c79;
  color: white;
}
