<div class="container text-center">
	<div class="d-block" style="height:40px"></div>
	<h1>Sneakers For Sale</h1>
	<div class="d-block" style="height:30px"></div>
</div>

<div class="container">
	<table class="table striped">
		<thead>
			<tr>
				<th>Brand</th>
				<th>Silhouette</th>
				<th>Colorway</th>
				<th>Size</th>
                <th>Price</th>
				<th>Action</th>
			</tr>
		</thead>

		<tbody></tbody>
	</table>
</div>

<div id="add-snkr-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="new-snkr-form">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Sell a Sneaker</h4>
				</div>
				<div class="modal-body">
					<div>
						Brand
					</div>
					<div>
						<input name="brand" type="text" class="form-control" placeholder="Brand" />
					</div>
					<div>
						Silhouette
					</div>
					<div>
						<input name="silhouette" type="text" class="form-control" placeholder="Silhouette" />
					</div>
					<div>
						Colorway
					</div>
					<div>
						<input name="colorway" type="text" class="form-control" placeholder="Colorway" />
					</div>
					<div>
						Size
					</div>
					<div>
						<input name="size" type="text" class="form-control" placeholder="Size" />
					</div>
                    			<div>
						Price
					</div>
					<div>
						<input name="price" type="text" class="form-control" placeholder="Price" />
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">List Sneaker for Sale</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="container text-center">
	<a href="#" class="btn btn-primary" data-target="#add-snkr-modal" data-toggle="modal">List Another Sneaker</a>
</div>
<div class="d-block" style="height:10px"></div>
<div class="container text-center">
	<a href="#/trending" class="btn btn-primary">Trending</a>
</div>
