<div class="container">
        <div class="margin-top-20 snkr-container">
            <div class="margin-top-20">
                <div class="margin-top-20 text-center bold">
                        {{title}}
                </div>
                <div>
                        {{styleId}}
                </div>
                <div>
                        ${{retailPrice}}
                </div>
                <div>
                        <img src="{{picture}}" class="img-responsive center-block" />
                </div>
            </div>
        </div>
</div>
