<div class="container">
        <div class="snkr-container">
            <div>
                <div class="text-center bold">
                        {{title}}
                </div>
                <div>
                        {{styleId}}
                </div>
                <div>
                        ${{retailPrice}}
                </div>
                <div>
                        <img src="{{picture}}" class="img-responsive center-block margin-bottom-20" />
                </div>
            </div>
        </div>
</div>
