<div class="container">
        <div class="row margin-top-20 snkr-container">
            <div class="col-sm-9">
                <div class="margin-top-20">
                   <span class="bold">Title: </span><span>{{title}}</span> 
                </div>
                <div>
                    <span class="bold">Style: </span><span>{{styleId}}</span>
                </div>
                <div class="margin-top-10>
                    <img src="{{picture}}"/>
                </div>
            </div>
        </div>
</div>
