<div class="container">
        <div class="margin-top-20 snkr-container">
            <div>
                <div class="margin-top-20 text-center">
                   <span class="bold">Title: </span><span>{{title}}</span> 
                </div>
                <div>
                    <span class="bold">Style: </span><span>{{styleId}}</span>
                </div>
                <div>
                    <span class="bold">Price: </span><span>{{retailPrice}}</span>
                </div>
                <div class="d-flex align-items-center">
                <img src="{{picture}}" class="img-responsive center-block" />
                </div>
            </div>
        </div>
</div>
