<div class="container">
        <div class="row margin-top-20 snkr-container">
            <div class="col-sm-9">
                <div class="margin-top-20">
                   <span class="bold">Title: </span><span>{{title}}</span> 
                </div>
                <div>
                    <span class="bold">Style: </span><span>{{styleId}}</span>
                </div>
                <div>
                    <span class="bold">Price: </span><span>{{retailPrice}}</span>
                </div>
             <div class="col-sm-3 margin-top-10">
                <img src="{{picture}}" class="img-responsive" />
            </div>
            </div>
        </div>
</div>
