<div class="container">
        <div class="margin-top-20 snkr-container">
            <div class="margin-top-20">
                <div class="margin-top-20 text-center">
                   <span class="bold">{{title}}</span> 
                </div>
                <div>
                    <span>{{styleId}}</span>
                </div>
                <div>
                    <span>${{retailPrice}}</span>
                </div>
                <div>
                <img src="{{picture}}" class="img-responsive center-block" />
                </div>
            </div>
        </div>
</div>
