<div class = "container">
	<div class="d-block" style="height:40px"></div>
	<h1 class="text-center">TRENDING</h1>
	<div class="d-block" style="height:30px"></div>
  	<div class="my-4" id="all-snkrs"></div>
</div>

<div class= "container text-center" >
	<a href= "#/for-sale" class=" margin-top-20 btn btn-primary" >For Sale</a>
</div>
<div class="d-block" style="height:40px"></div>
