<div class = "container margin-top-20 text-center">

  <h1>Trending</h1>

  <div id="all-snkrs"></div>
</div>

<div class= "container margin-top-20 text-center" >
	<a href= "#/for-sale" class=" margin-top-20 btn btn-primary" >For Sale</a>
</div>
<div class="cointainer d-block" style="height:40px"></div>
